In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import scipy.stats as stats

In [2]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1_YP_qbYwcLCfKfkTqVYkbupJiPR6yYdU')

In [3]:
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,https://www.airbnb.com/rooms/1419,20240412141305,2024-04-13,previous scrape,Beautiful home in amazing area!,"This large, family home is located in one of T...",The apartment is located in the Ossington stri...,https://a0.muscache.com/pictures/76206750/d643...,1565,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.06
1,8077,https://www.airbnb.com/rooms/8077,20240412141305,2024-04-13,previous scrape,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,NaN,https://a0.muscache.com/pictures/11780344/141c...,22795,...,4.90,4.92,4.83,NaN,f,2,1,1,0,0.95
2,26654,https://www.airbnb.com/rooms/26654,20240412141305,2024-04-13,city scrape,"World Class @ CN Tower, convention centre, The...","CN Tower, TIFF Bell Lightbox, Metro Convention...",There's a reason they call it the Entertainmen...,https://a0.muscache.com/pictures/81811785/5dcd...,113345,...,4.76,4.86,4.67,NaN,f,5,5,0,0,0.26
3,27423,https://www.airbnb.com/rooms/27423,20240412141305,2024-04-13,city scrape,Executive Studio Unit- Ideal for One Person,"Brand new, fully furnished studio basement apa...",NaN,https://a0.muscache.com/pictures/176936/b687ed...,118124,...,5.00,4.86,4.86,NaN,f,1,1,0,0,0.17
4,30931,https://www.airbnb.com/rooms/30931,20240412141305,2024-04-13,previous scrape,Downtown Toronto - Waterview Condo,Split level waterfront condo with a breathtaki...,NaN,https://a0.muscache.com/pictures/227971/e8ebd7...,22795,...,NaN,NaN,NaN,NaN,f,2,1,1,0,0.01

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20650 entries, 0 to 20649
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            20650 non-null  int64
 1   listing_url                                   20650 non-null  object
 2   scrape_id                                     20650 non-null  int64
 3   last_scraped                                  20650 non-null  object
 4   source                                        20650 non-null  object
 5   name                                          20650 non-null  object
 6   description                                   20181 non-null  object
 7   neighborhood_overview                         11103 non-null  object
 8   picture_url                                   20650 non-null  object
 9   host_id                                       20650 non-null  int64
 10  host_url                                      20650 non-null  object
 11  host_name                                     20648 non-null  object
 12  host_since                                    20648 non-null  object
 13  host_location                                 15354 non-null  object
 14  host_about                                    9651 non-null   object
 15  host_response_time                            14116 non-null  object
 16  host_response_rate                            14116 non-null  object
 17  host_acceptance_rate                          15168 non-null  object
 18  host_is_superhost                             20347 non-null  object
 19  host_thumbnail_url                            20648 non-null  object
 20  host_picture_url                              20648 non-null  object
 21  host_neighbourhood                            8339 non-null   object
 22  host_listings_count                           20648 non-null  float64
 23  host_total_listings_count                     20648 non-null  float64
 24  host_verifications                            20648 non-null  object
 25  host_has_profile_pic                          20648 non-null  object
 26  host_identity_verified                        20648 non-null  object
 27  neighbourhood                                 11104 non-null  object
 28  neighbourhood_cleansed                        20650 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      20650 non-null  float64
 31  longitude                                     20650 non-null  float64
 32  property_type                                 20650 non-null  object
 33  room_type                                     20650 non-null  object
 34  accommodates                                  20650 non-null  int64
 35  bathrooms                                     15450 non-null  float64
 36  bathrooms_text                                20640 non-null  object
 37  bedrooms                                      19101 non-null  float64
 38  beds                                          15399 non-null  float64
 39  amenities                                     20650 non-null  object
 40  price                                         15454 non-null  object
 41  minimum_nights                                20650 non-null  int64
 42  maximum_nights                                20650 non-null  int64
 43  minimum_minimum_nights                        20650 non-null  int64
 44  maximum_minimum_nights                        20650 non-null  int64
 45  minimum_maximum_nights                        20650 non-null  int64
 46  maximum_maximum_nights                        20650 non-null  int64
 47  minimum_nights_avg_ntm                        20650 non-null  float64
 48  maximum_nights_avg_ntm                        20650 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              19633 non-null  object
 51  availability_30                               20650 non-null  int64
 52  availability_60                               20650 non-null  int64
 53  availability_90                               20650 non-null  int64
 54  availability_365                              20650 non-null  int64
 55  calendar_last_scraped                         20650 non-null  object
 56  number_of_reviews                             20650 non-null  int64
 57  number_of_reviews_ltm                         20650 non-null  int64
 58  number_of_reviews_l30d                        20650 non-null  int64
 59  first_review                                  15272 non-null  object
 60  last_review                                   15272 non-null  object
 61  review_scores_rating                          15275 non-null  float64
 62  review_scores_accuracy                        15254 non-null  float64
 63  review_scores_cleanliness                     15254 non-null  float64
 64  review_scores_checkin                         15254 non-null  float64
 65  review_scores_communication                   15254 non-null  float64
 66  review_scores_location                        15253 non-null  float64
 67  review_scores_value                           15254 non-null  float64
 68  license                                       9748 non-null   object
 69  instant_bookable                              20650 non-null  object
 70  calculated_host_listings_count                20650 non-null  int64
 71  calculated_host_listings_count_entire_homes   20650 non-null  int64
 72  calculated_host_listings_count_private_rooms  20650 non-null  int64
 73  calculated_host_listings_count_shared_rooms   20650 non-null  int64
 74  reviews_per_month                             15272 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 11.8+ MB

In [5]:
df.isnull().sum()/100

id                                               0.00
listing_url                                      0.00
scrape_id                                        0.00
last_scraped                                     0.00
source                                           0.00
                                                ...
calculated_host_listings_count                   0.00
calculated_host_listings_count_entire_homes      0.00
calculated_host_listings_count_private_rooms     0.00
calculated_host_listings_count_shared_rooms      0.00
reviews_per_month                               53.78
Length: 75, dtype: float64

In [6]:
#Deleting all columns containing urls
df = df.drop(columns=[col for col in df.columns if 'url' in col])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20650 entries, 0 to 20649
Data columns (total 70 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            20650 non-null  int64
 1   scrape_id                                     20650 non-null  int64
 2   last_scraped                                  20650 non-null  object
 3   source                                        20650 non-null  object
 4   name                                          20650 non-null  object
 5   description                                   20181 non-null  object
 6   neighborhood_overview                         11103 non-null  object
 7   host_id                                       20650 non-null  int64
 8   host_name                                     20648 non-null  object
 9   host_since                                    20648 non-null  object
 10  host_location                                 15354 non-null  object
 11  host_about                                    9651 non-null   object
 12  host_response_time                            14116 non-null  object
 13  host_response_rate                            14116 non-null  object
 14  host_acceptance_rate                          15168 non-null  object
 15  host_is_superhost                             20347 non-null  object
 16  host_neighbourhood                            8339 non-null   object
 17  host_listings_count                           20648 non-null  float64
 18  host_total_listings_count                     20648 non-null  float64
 19  host_verifications                            20648 non-null  object
 20  host_has_profile_pic                          20648 non-null  object
 21  host_identity_verified                        20648 non-null  object
 22  neighbourhood                                 11104 non-null  object
 23  neighbourhood_cleansed                        20650 non-null  object
 24  neighbourhood_group_cleansed                  0 non-null      float64
 25  latitude                                      20650 non-null  float64
 26  longitude                                     20650 non-null  float64
 27  property_type                                 20650 non-null  object
 28  room_type                                     20650 non-null  object
 29  accommodates                                  20650 non-null  int64
 30  bathrooms                                     15450 non-null  float64
 31  bathrooms_text                                20640 non-null  object
 32  bedrooms                                      19101 non-null  float64
 33  beds                                          15399 non-null  float64
 34  amenities                                     20650 non-null  object
 35  price                                         15454 non-null  object
 36  minimum_nights                                20650 non-null  int64
 37  maximum_nights                                20650 non-null  int64
 38  minimum_minimum_nights                        20650 non-null  int64
 39  maximum_minimum_nights                        20650 non-null  int64
 40  minimum_maximum_nights                        20650 non-null  int64
 41  maximum_maximum_nights                        20650 non-null  int64
 42  minimum_nights_avg_ntm                        20650 non-null  float64
 43  maximum_nights_avg_ntm                        20650 non-null  float64
 44  calendar_updated                              0 non-null      float64
 45  has_availability                              19633 non-null  object
 46  availability_30                               20650 non-null  int64
 47  availability_60                               20650 non-null  int64
 48  availability_90                               20650 non-null  int64
 49  availability_365                              20650 non-null  int64
 50  calendar_last_scraped                         20650 non-null  object
 51  number_of_reviews                             20650 non-null  int64
 52  number_of_reviews_ltm                         20650 non-null  int64
 53  number_of_reviews_l30d                        20650 non-null  int64
 54  first_review                                  15272 non-null  object
 55  last_review                                   15272 non-null  object
 56  review_scores_rating                          15275 non-null  float64
 57  review_scores_accuracy                        15254 non-null  float64
 58  review_scores_cleanliness                     15254 non-null  float64
 59  review_scores_checkin                         15254 non-null  float64
 60  review_scores_communication                   15254 non-null  float64
 61  review_scores_location                        15253 non-null  float64
 62  review_scores_value                           15254 non-null  float64
 63  license                                       9748 non-null   object
 64  instant_bookable                              20650 non-null  object
 65  calculated_host_listings_count                20650 non-null  int64
 66  calculated_host_listings_count_entire_homes   20650 non-null  int64
 67  calculated_host_listings_count_private_rooms  20650 non-null  int64
 68  calculated_host_listings_count_shared_rooms   20650 non-null  int64
 69  reviews_per_month                             15272 non-null  float64
dtypes: float64(19), int64(21), object(30)
memory usage: 11.0+ MB

In [8]:
#Filter data to focus on Toronto AirBnBs
toronto_neighbourhoods = [
    'Little Portugal', 'Waterfront Communities-The Island', 'South Riverdale', 
    'South Parkdale', 'Wexford/Maryvale', 'Rosedale-Moore Park', 'Bay Street Corridor', 
    'Church-Yonge Corridor', 'Niagara', 'Roncesvalles', 'Cabbagetown-South St.James Town', 
    'Moss Park', 'High Park North', 'Woburn', 'Don Valley Village', 'Junction Area', 
    'High Park-Swansea', 'Oakridge', 'Casa Loma', 'Thistletown-Beaumond Heights', 'Annex', 
    'Dovercourt-Wallace Emerson-Junction', 'Caledonia-Fairbank', 'Palmerston-Little Italy', 
    'Danforth', 'North St.James Town', 'Newtonbrook West', 'Playter Estates-Danforth', 
    'Blake-Jones', 'Greenwood-Coxwell', 'Regent Park', 'Flemingdon Park', 'Mount Pleasant West', 
    'Willowdale East', 'The Beaches', 'Dufferin Grove', 'University', 'Humewood-Cedarvale', 
    'Trinity-Bellwoods', 'Mount Pleasant East', 'East End-Danforth', 'Brookhaven-Amesbury', 
    'Oakwood Village', 'Mimico (includes Humber Bay Shores)', 'North Riverdale', 'Parkwoods-Donalda', 
    'Woodbine Corridor', 'Broadview North', 'Morningside', 'Kensington-Chinatown', 'Yonge-St.Clair', 
    'Old East York', 'Corso Italia-Davenport', 'Birchcliffe-Cliffside', 'Stonegate-Queensway', 
    'Agincourt South-Malvern West', 'Yonge-Eglinton', 'St.Andrew-Windfields', 'Rockcliffe-Smythe', 
    'Clanton Park', 'Willowdale West', 'Islington-City Centre West', 'Lawrence Park North', 
    'Bayview Woods-Steeles', 'Bendale', 'Mount Dennis', 'Bayview Village', 'Cliffcrest', 
    'Englemount-Lawrence', 'New Toronto', 'Agincourt North', 'Woodbine-Lumsden', 'Danforth East York', 
    'Bridle Path-Sunnybrook-York Mills', 'Etobicoke West Mall', 'Wychwood', 'Bedford Park-Nortown', 
    'Forest Hill South', 'Runnymede-Bloor West Village', 'Guildwood', "Tam O'Shanter-Sullivan", 
    "L'Amoreaux", 'Lansing-Westgate', 'Lambton Baby Point', 'Long Branch', 'Briar Hill-Belgravia', 
    'Westminster-Branson', 'Lawrence Park South', 'Hillcrest Village', 'York University Heights', 
    'Weston-Pellam Park', 'Bathurst Manor', 'Kingsway South', 'Ionview', 'Leaside-Bennington', 
    'Weston', 'Pelmo Park-Humberlea', 'Clairlea-Birchmount', 'Eglinton East', 'Yorkdale-Glen Park', 
    'Eringate-Centennial-West Deane', 'West Humber-Clairville', 'Kennedy Park', 'Black Creek', 
    'West Hill', 'Beechborough-Greenbrook', 'Keelesdale-Eglinton West', 'Rexdale-Kipling', 
    'Edenbridge-Humber Valley', 'Rouge', 'Willowridge-Martingrove-Richview', 'Alderwood', 
    "O'Connor-Parkview", 'Victoria Village', 'Pleasant View', 'Banbury-Don Mills', 'Henry Farm', 
    'Markland Wood', 'Dorset Park', 'Princess-Rosethorn', 'Kingsview Village-The Westway', 
    'Scarborough Village', 'Thorncliffe Park', 'Malvern', 'Mount Olive-Silverstone-Jamestown', 
    'Glenfield-Jane Heights', 'Highland Creek', 'Taylor-Massey', 'Elms-Old Rexdale', 
    'Forest Hill North', 'Steeles', 'Newtonbrook East', 'Downsview-Roding-CFB', 'Maple Leaf', 
    'Humbermede', 'Humber Heights-Westmount', 'Centennial Scarborough', 'Milliken', 
    'Humber Summit', 'Rustic'
]

df_filtered = df[df['neighbourhood_cleansed'].isin(toronto_neighbourhoods)]

In [9]:
df_filtered.head()

,id,scrape_id,last_scraped,source,name,description,neighborhood_overview,host_id,host_name,host_since,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,20240412141305,2024-04-13,previous scrape,Beautiful home in amazing area!,"This large, family home is located in one of T...",The apartment is located in the Ossington stri...,1565,Alexandra,2008-08-08,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.06
1,8077,20240412141305,2024-04-13,previous scrape,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,NaN,22795,Kathie & Larry,2009-06-22,...,4.90,4.92,4.83,NaN,f,2,1,1,0,0.95
2,26654,20240412141305,2024-04-13,city scrape,"World Class @ CN Tower, convention centre, The...","CN Tower, TIFF Bell Lightbox, Metro Convention...",There's a reason they call it the Entertainmen...,113345,Adela,2010-04-25,...,4.76,4.86,4.67,NaN,f,5,5,0,0,0.26
3,27423,20240412141305,2024-04-13,city scrape,Executive Studio Unit- Ideal for One Person,"Brand new, fully furnished studio basement apa...",NaN,118124,Brent,2010-05-04,...,5.00,4.86,4.86,NaN,f,1,1,0,0,0.17
4,30931,20240412141305,2024-04-13,previous scrape,Downtown Toronto - Waterview Condo,Split level waterfront condo with a breathtaki...,NaN,22795,Kathie & Larry,2009-06-22,...,NaN,NaN,NaN,NaN,f,2,1,1,0,0.01

In [10]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20650 entries, 0 to 20649
Data columns (total 70 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            20650 non-null  int64
 1   scrape_id                                     20650 non-null  int64
 2   last_scraped                                  20650 non-null  object
 3   source                                        20650 non-null  object
 4   name                                          20650 non-null  object
 5   description                                   20181 non-null  object
 6   neighborhood_overview                         11103 non-null  object
 7   host_id                                       20650 non-null  int64
 8   host_name                                     20648 non-null  object
 9   host_since                                    20648 non-null  object
 10  host_location                                 15354 non-null  object
 11  host_about                                    9651 non-null   object
 12  host_response_time                            14116 non-null  object
 13  host_response_rate                            14116 non-null  object
 14  host_acceptance_rate                          15168 non-null  object
 15  host_is_superhost                             20347 non-null  object
 16  host_neighbourhood                            8339 non-null   object
 17  host_listings_count                           20648 non-null  float64
 18  host_total_listings_count                     20648 non-null  float64
 19  host_verifications                            20648 non-null  object
 20  host_has_profile_pic                          20648 non-null  object
 21  host_identity_verified                        20648 non-null  object
 22  neighbourhood                                 11104 non-null  object
 23  neighbourhood_cleansed                        20650 non-null  object
 24  neighbourhood_group_cleansed                  0 non-null      float64
 25  latitude                                      20650 non-null  float64
 26  longitude                                     20650 non-null  float64
 27  property_type                                 20650 non-null  object
 28  room_type                                     20650 non-null  object
 29  accommodates                                  20650 non-null  int64
 30  bathrooms                                     15450 non-null  float64
 31  bathrooms_text                                20640 non-null  object
 32  bedrooms                                      19101 non-null  float64
 33  beds                                          15399 non-null  float64
 34  amenities                                     20650 non-null  object
 35  price                                         15454 non-null  object
 36  minimum_nights                                20650 non-null  int64
 37  maximum_nights                                20650 non-null  int64
 38  minimum_minimum_nights                        20650 non-null  int64
 39  maximum_minimum_nights                        20650 non-null  int64
 40  minimum_maximum_nights                        20650 non-null  int64
 41  maximum_maximum_nights                        20650 non-null  int64
 42  minimum_nights_avg_ntm                        20650 non-null  float64
 43  maximum_nights_avg_ntm                        20650 non-null  float64
 44  calendar_updated                              0 non-null      float64
 45  has_availability                              19633 non-null  object
 46  availability_30                               20650 non-null  int64
 47  availability_60                               20650 non-null  int64
 48  availability_90                               20650 non-null  int64
 49  availability_365                              20650 non-null  int64
 50  calendar_last_scraped                         20650 non-null  object
 51  number_of_reviews                             20650 non-null  int64
 52  number_of_reviews_ltm                         20650 non-null  int64
 53  number_of_reviews_l30d                        20650 non-null  int64
 54  first_review                                  15272 non-null  object
 55  last_review                                   15272 non-null  object
 56  review_scores_rating                          15275 non-null  float64
 57  review_scores_accuracy                        15254 non-null  float64
 58  review_scores_cleanliness                     15254 non-null  float64
 59  review_scores_checkin                         15254 non-null  float64
 60  review_scores_communication                   15254 non-null  float64
 61  review_scores_location                        15253 non-null  float64
 62  review_scores_value                           15254 non-null  float64
 63  license                                       9748 non-null   object
 64  instant_bookable                              20650 non-null  object
 65  calculated_host_listings_count                20650 non-null  int64
 66  calculated_host_listings_count_entire_homes   20650 non-null  int64
 67  calculated_host_listings_count_private_rooms  20650 non-null  int64
 68  calculated_host_listings_count_shared_rooms   20650 non-null  int64
 69  reviews_per_month                             15272 non-null  float64
dtypes: float64(19), int64(21), object(30)
memory usage: 11.0+ MB

In [11]:
df_filtered.isnull().sum()/100

id                                               0.00
scrape_id                                        0.00
last_scraped                                     0.00
source                                           0.00
name                                             0.00
                                                ...
calculated_host_listings_count                   0.00
calculated_host_listings_count_entire_homes      0.00
calculated_host_listings_count_private_rooms     0.00
calculated_host_listings_count_shared_rooms      0.00
reviews_per_month                               53.78
Length: 70, dtype: float64

In [12]:
#Drop all columns with missing values
df_filtered = df_filtered.dropna(axis=1, how='all')

In [13]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20650 entries, 0 to 20649
Data columns (total 68 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            20650 non-null  int64
 1   scrape_id                                     20650 non-null  int64
 2   last_scraped                                  20650 non-null  object
 3   source                                        20650 non-null  object
 4   name                                          20650 non-null  object
 5   description                                   20181 non-null  object
 6   neighborhood_overview                         11103 non-null  object
 7   host_id                                       20650 non-null  int64
 8   host_name                                     20648 non-null  object
 9   host_since                                    20648 non-null  object
 10  host_location                                 15354 non-null  object
 11  host_about                                    9651 non-null   object
 12  host_response_time                            14116 non-null  object
 13  host_response_rate                            14116 non-null  object
 14  host_acceptance_rate                          15168 non-null  object
 15  host_is_superhost                             20347 non-null  object
 16  host_neighbourhood                            8339 non-null   object
 17  host_listings_count                           20648 non-null  float64
 18  host_total_listings_count                     20648 non-null  float64
 19  host_verifications                            20648 non-null  object
 20  host_has_profile_pic                          20648 non-null  object
 21  host_identity_verified                        20648 non-null  object
 22  neighbourhood                                 11104 non-null  object
 23  neighbourhood_cleansed                        20650 non-null  object
 24  latitude                                      20650 non-null  float64
 25  longitude                                     20650 non-null  float64
 26  property_type                                 20650 non-null  object
 27  room_type                                     20650 non-null  object
 28  accommodates                                  20650 non-null  int64
 29  bathrooms                                     15450 non-null  float64
 30  bathrooms_text                                20640 non-null  object
 31  bedrooms                                      19101 non-null  float64
 32  beds                                          15399 non-null  float64
 33  amenities                                     20650 non-null  object
 34  price                                         15454 non-null  object
 35  minimum_nights                                20650 non-null  int64
 36  maximum_nights                                20650 non-null  int64
 37  minimum_minimum_nights                        20650 non-null  int64
 38  maximum_minimum_nights                        20650 non-null  int64
 39  minimum_maximum_nights                        20650 non-null  int64
 40  maximum_maximum_nights                        20650 non-null  int64
 41  minimum_nights_avg_ntm                        20650 non-null  float64
 42  maximum_nights_avg_ntm                        20650 non-null  float64
 43  has_availability                              19633 non-null  object
 44  availability_30                               20650 non-null  int64
 45  availability_60                               20650 non-null  int64
 46  availability_90                               20650 non-null  int64
 47  availability_365                              20650 non-null  int64
 48  calendar_last_scraped                         20650 non-null  object
 49  number_of_reviews                             20650 non-null  int64
 50  number_of_reviews_ltm                         20650 non-null  int64
 51  number_of_reviews_l30d                        20650 non-null  int64
 52  first_review                                  15272 non-null  object
 53  last_review                                   15272 non-null  object
 54  review_scores_rating                          15275 non-null  float64
 55  review_scores_accuracy                        15254 non-null  float64
 56  review_scores_cleanliness                     15254 non-null  float64
 57  review_scores_checkin                         15254 non-null  float64
 58  review_scores_communication                   15254 non-null  float64
 59  review_scores_location                        15253 non-null  float64
 60  review_scores_value                           15254 non-null  float64
 61  license                                       9748 non-null   object
 62  instant_bookable                              20650 non-null  object
 63  calculated_host_listings_count                20650 non-null  int64
 64  calculated_host_listings_count_entire_homes   20650 non-null  int64
 65  calculated_host_listings_count_private_rooms  20650 non-null  int64
 66  calculated_host_listings_count_shared_rooms   20650 non-null  int64
 67  reviews_per_month                             15272 non-null  float64
dtypes: float64(17), int64(21), object(30)
memory usage: 10.7+ MB

In [14]:
df_filtered = df_filtered.drop(columns=['bathrooms','room_type','name','description','neighborhood_overview'])

In [15]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20650 entries, 0 to 20649
Data columns (total 63 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            20650 non-null  int64
 1   scrape_id                                     20650 non-null  int64
 2   last_scraped                                  20650 non-null  object
 3   source                                        20650 non-null  object
 4   host_id                                       20650 non-null  int64
 5   host_name                                     20648 non-null  object
 6   host_since                                    20648 non-null  object
 7   host_location                                 15354 non-null  object
 8   host_about                                    9651 non-null   object
 9   host_response_time                            14116 non-null  object
 10  host_response_rate                            14116 non-null  object
 11  host_acceptance_rate                          15168 non-null  object
 12  host_is_superhost                             20347 non-null  object
 13  host_neighbourhood                            8339 non-null   object
 14  host_listings_count                           20648 non-null  float64
 15  host_total_listings_count                     20648 non-null  float64
 16  host_verifications                            20648 non-null  object
 17  host_has_profile_pic                          20648 non-null  object
 18  host_identity_verified                        20648 non-null  object
 19  neighbourhood                                 11104 non-null  object
 20  neighbourhood_cleansed                        20650 non-null  object
 21  latitude                                      20650 non-null  float64
 22  longitude                                     20650 non-null  float64
 23  property_type                                 20650 non-null  object
 24  accommodates                                  20650 non-null  int64
 25  bathrooms_text                                20640 non-null  object
 26  bedrooms                                      19101 non-null  float64
 27  beds                                          15399 non-null  float64
 28  amenities                                     20650 non-null  object
 29  price                                         15454 non-null  object
 30  minimum_nights                                20650 non-null  int64
 31  maximum_nights                                20650 non-null  int64
 32  minimum_minimum_nights                        20650 non-null  int64
 33  maximum_minimum_nights                        20650 non-null  int64
 34  minimum_maximum_nights                        20650 non-null  int64
 35  maximum_maximum_nights                        20650 non-null  int64
 36  minimum_nights_avg_ntm                        20650 non-null  float64
 37  maximum_nights_avg_ntm                        20650 non-null  float64
 38  has_availability                              19633 non-null  object
 39  availability_30                               20650 non-null  int64
 40  availability_60                               20650 non-null  int64
 41  availability_90                               20650 non-null  int64
 42  availability_365                              20650 non-null  int64
 43  calendar_last_scraped                         20650 non-null  object
 44  number_of_reviews                             20650 non-null  int64
 45  number_of_reviews_ltm                         20650 non-null  int64
 46  number_of_reviews_l30d                        20650 non-null  int64
 47  first_review                                  15272 non-null  object
 48  last_review                                   15272 non-null  object
 49  review_scores_rating                          15275 non-null  float64
 50  review_scores_accuracy                        15254 non-null  float64
 51  review_scores_cleanliness                     15254 non-null  float64
 52  review_scores_checkin                         15254 non-null  float64
 53  review_scores_communication                   15254 non-null  float64
 54  review_scores_location                        15253 non-null  float64
 55  review_scores_value                           15254 non-null  float64
 56  license                                       9748 non-null   object
 57  instant_bookable                              20650 non-null  object
 58  calculated_host_listings_count                20650 non-null  int64
 59  calculated_host_listings_count_entire_homes   20650 non-null  int64
 60  calculated_host_listings_count_private_rooms  20650 non-null  int64
 61  calculated_host_listings_count_shared_rooms   20650 non-null  int64
 62  reviews_per_month                             15272 non-null  float64
dtypes: float64(16), int64(21), object(26)
memory usage: 9.9+ MB

In [25]:
df_filtered['property_type'].unique()

array(['Entire home', 'Private room in rental unit', 'Entire condo',
       'Entire rental unit', 'Private room in condo',
       'Private room in home', 'Entire townhouse',
       'Entire serviced apartment', 'Entire loft', 'Entire guest suite',
       'Shared room in rental unit', 'Private room in townhouse',
       'Private room in guest suite', 'Entire guesthouse',
       'Private room in cottage', 'Private room in loft', 'Private room',
       'Private room in serviced apartment', 'Shared room in home',
       'Private room in guesthouse', 'Entire bungalow',
       'Shared room in condo', 'Entire place',
       'Private room in bed and breakfast', 'Private room in bungalow',
       'Shared room in townhouse', 'Private room in barn', 'Entire villa',
       'Tiny home', 'Floor', 'Private room in villa',
       'Shared room in bungalow', 'Shared room in hostel',
       'Private room in castle', 'Entire cottage',
       'Private room in hostel', 'Shared room in loft', 'Entire home/apt',
       'Shared room in guesthouse', 'Camper/RV', 'Room in boutique hotel',
       'Earthen home', 'Shared room in boat', 'Private room in tiny home',
       'Room in hotel', 'Private room in earthen home', 'Boat',
       'Shared room in guest suite', 'Private room in hut', 'Island',
       'Private room in casa particular', 'Room in aparthotel',
       'Entire vacation home', 'Private room in vacation home', 'Castle',
       'Shipping container', 'Shared room in bed and breakfast',
       'Private room in treehouse', 'Shared room in hotel', 'Shared room'],
      dtype=object)

In [26]:
#Define a function to categorize property types
def categorize_property_type(property_type):
    if 'entire' in property_type.lower():
        return 'Entire'
    elif 'private' in property_type.lower():
        return 'Private Room'
    elif 'shared' in property_type.lower():
        return 'Shared Room'
    else:
        return 'Others'

# Apply the function to the 'property_type' column
df_filtered['property_type_category'] = df_filtered['property_type'].apply(categorize_property_type)

In [27]:
df_filtered['property_type_category'].unique()

array(['Entire', 'Private Room', 'Shared Room', 'Others'], dtype=object)

In [28]:
df_filtered.head()

,id,scrape_id,last_scraped,source,host_id,host_name,host_since,host_location,host_about,host_response_time,...,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,property_type_category,Entire,Others,Private,Shared
0,1419,20240412141305,2024-04-13,previous scrape,1565,Alexandra,2008-08-08,"Vancouver, Canada","I live in Vancouver, Canada with my husband an...",NaN,...,1,1,0,0,0.06,Entire,1,0,0,0
1,8077,20240412141305,2024-04-13,previous scrape,22795,Kathie & Larry,2009-06-22,"Toronto, Canada",My husband and I have been airbnb host for alm...,NaN,...,2,1,1,0,0.95,Private Room,0,0,1,0
2,26654,20240412141305,2024-04-13,city scrape,113345,Adela,2010-04-25,NaN,Welcome to Toronto! \r\n\r\nAfter our first me...,within a day,...,5,5,0,0,0.26,Entire,1,0,0,0
3,27423,20240412141305,2024-04-13,city scrape,118124,Brent,2010-05-04,"Toronto, Canada",I love to travel and meet new people from arou...,within an hour,...,1,1,0,0,0.17,Entire,1,0,0,0
4,30931,20240412141305,2024-04-13,previous scrape,22795,Kathie & Larry,2009-06-22,"Toronto, Canada",My husband and I have been airbnb host for alm...,NaN,...,2,1,1,0,0.01,Entire,1,0,0,0

In [29]:
#Perform OneHotEncoding on the category
df_property_type = pd.get_dummies(df_filtered['property_type_category'], dtype=int)

In [30]:
df_property_type

       Entire  Others  Private Room  Shared Room
0           1       0             0            0
1           0       0             1            0
2           1       0             0            0
3           1       0             0            0
4           1       0             0            0
...       ...     ...           ...          ...
20645       1       0             0            0
20646       1       0             0            0
20647       1       0             0            0
20648       1       0             0            0
20649       1       0             0            0

[20650 rows x 4 columns]

In [31]:
#adding back to the dataframe
df_filtered = pd.concat([df_filtered, df_property_type], axis=1)

In [32]:
df_filtered

,id,scrape_id,last_scraped,source,host_id,host_name,host_since,host_location,host_about,host_response_time,...,reviews_per_month,property_type_category,Entire,Others,Private,Shared,Entire,Others,Private Room,Shared Room
0,1419,20240412141305,2024-04-13,previous scrape,1565,Alexandra,2008-08-08,"Vancouver, Canada","I live in Vancouver, Canada with my husband an...",NaN,...,0.06,Entire,1,0,0,0,1,0,0,0
1,8077,20240412141305,2024-04-13,previous scrape,22795,Kathie & Larry,2009-06-22,"Toronto, Canada",My husband and I have been airbnb host for alm...,NaN,...,0.95,Private Room,0,0,1,0,0,0,1,0
2,26654,20240412141305,2024-04-13,city scrape,113345,Adela,2010-04-25,NaN,Welcome to Toronto! \r\n\r\nAfter our first me...,within a day,...,0.26,Entire,1,0,0,0,1,0,0,0
3,27423,20240412141305,2024-04-13,city scrape,118124,Brent,2010-05-04,"Toronto, Canada",I love to travel and meet new people from arou...,within an hour,...,0.17,Entire,1,0,0,0,1,0,0,0
4,30931,20240412141305,2024-04-13,previous scrape,22795,Kathie & Larry,2009-06-22,"Toronto, Canada",My husband and I have been airbnb host for alm...,NaN,...,0.01,Entire,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20645,1132097786104369570,20240412141305,2024-04-12,city scrape,566290809,Arjun,2024-03-10,NaN,NaN,NaN,...,NaN,Entire,1,0,0,0,1,0,0,0
20646,1132116282721989390,20240412141305,2024-04-13,city scrape,68521096,Vahid,2016-04-23,"Toronto, Canada",Art director living in Toronto with my partner...,NaN,...,NaN,Entire,1,0,0,0,1,0,0,0
20647,1132192910161286086,20240412141305,2024-04-13,city scrape,529130894,Marina,2023-07-31,"Toronto, Canada",NaN,NaN,...,NaN,Entire,1,0,0,0,1,0,0,0
20648,1132219980412668322,20240412141305,2024-04-12,city scrape,128013575,Shahrokh,2017-04-28,"Toronto, Canada",Hi. I'm Sharok and my wife is Melika. We both ...,within an hour,...,NaN,Entire,1,0,0,0,1,0,0,0
20649,1132326747442117297,20240412141305,2024-04-13,city scrape,6814539,Anna,2013-06-09,"Toronto, Canada",My husband and I are from the UK but moves to ...,NaN,...,NaN,Entire,1,0,0,0,1,0,0,0